.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-container .contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

h1 {
    color: #72845a;
}

hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #A5B68D;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 5px;
}

.contact-inputs:focus {
    border: 2px solid #A5B68D;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-left button {
    background-color: #72845a;
    color: white;
}

.contact-right img {
    width: 500px;
}

@media (max-width: 800px) {
    .contact-inputs {
        width: 80vw;
    }
    .contact-right {
        display: none;
    }
}