.education-page {
    background: #E7CCCC;
    padding: 20px;
    color: #000000;
    text-align: center;
}

.education-container {
    display: flex;
    flex-direction: column;
    height: wrap-content;
    padding: 3rem calc((100vw-1300px)/2);
    align-items: center;
}

.ee-column, .pioneer-column, .stanford-column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 3rem;
    align-items: center;
    padding: 2rem;
}

.education-container p {
    margin: 0;
    padding: 1rem;
    text-align: justify;
}

.my-essay, .my-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pioneer-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(600px, 1fr));
    align-items: center;
    padding: 2rem;
}

.pioneer-description {
    margin: 20px;
}



